* {
    -fx-font-family: 'Roboto';
}

#anchorPane, #searchScrollPane {
    -fx-background-color: backgroundColor;
}

#searchScrollPane > .viewport {
    -fx-background-color: backgroundColor;
}


#headerSection {
    -fx-background-color: headerColor;
}

#AccessButton, #RecoveryPasswordButton, #ChangePasswordButton,
#RechargeButton, #AddButton, #addToCartButton, #CompleteButton,
#purchaseButton {
    -fx-background-color: primaryButtonColor;
    -fx-background-radius: 5;
    -fx-border-color: buttonBorderColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#RegistrationButton, #UploadImageButton {
    -fx-background-color: secondaryButtonColor;
    -fx-background-radius: 5;
    -fx-border-color: buttonBorderColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#AccessVBOX, #RegistrationVBOX, #PasswordChangeVBOX,
#InfosRequestVBOX, #BalanceRechargeVBOX, #PasswordRecoveryVBOX,
#AddCouponVBOX, #AddProductVBOX {
    -fx-border-color: VBOXBorderColor;
    -fx-background-color: VBOXBackgroundColor;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#CategoriesButton, #SearchBar {
    -fx-background-color: headerElementsColor;
    -fx-background-size: 95%;
}

#SearchButton {
    -fx-background-color: searchButtonColor;

}

#SearchButton, #SearchBar, #CategoriesButton {
    -fx-background-radius: 5;
    -fx-border-color: headerBorderElementsColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#returnToHomeLabel {
    -fx-text-fill: labelColor;
}

#AccountMenuButton .label {
    -fx-text-fill: labelColor;
}

#AccountMenuButton, #CartButton, #OrderButton {
    -fx-background-color: transparent;
    -fx-text-fill: labelColor;
}

#AccountMenuButton .menu-item > .label {
    -fx-text-fill: menuItemLabelColor;
}

#AccountMenuButton .arrow {
    -fx-background-color: labelColor;
}

#lowerSection {
    -fx-background-color: lowerSectionColor;
}

#existsLabel, #changeLabel, #createLabel, #verifyLabel, #newLabel, #passwordLabel,
#mailLabel, #accessLabel, #lowerLabel, #lowerLabel2, #adviceLabel, #adviceLabel2,
#adviceLabel3, #adviceLabel4, #adviceLabel5, #adviceLabel6, #adviceLabel7, #adviceLabel8,
#addLabel, #couponLabel, #valueLabel, #addLabel2, #nameLabel, #descriptionLabel,
#sellerLabel, #priceLabel, #categoriesLabel, #completeLabel, #surnameLabel, #addressLabel, #haveLabel,
#rechargeLabel, #insertLabel, #whereLabel, #whereLabel2, #whereLabel3, #whereLabel4,
#whereLabel5, #assistanceLabel, #assistanceLabel2, #assistanceLabel3, #BalanceField,
#assistanceLabel4, #changeLabel2, #changeLabel3, #changeLabel4,
#productLabel1, #productLabel2, #productLabel3, #productLabel4, #productLabel5, #productLabel6,
#productLabel7, #productLabel8, #productLabel9, #productLabel10, #productLabel11, #productLabel12,
#productLabel13, #productLabel14, #productLabel15, #productLabel16, #categoryLabel1, #categoryLabel2,
#categoryLabel3, #categoryLabel4, #productName, #productPrice, #productDescription, #qtyLabel,
#CheckHome, #purchaseInfoLabel, #purchaseYourInfosLabel, #purchaseAddressLabel,
#actualBalanceLabel, #insufficientBalanceLabel, #YourCartLabel, #purchaseTotalLabel {
    -fx-text-fill: totalLabelColor
}

#productLabel1, #productLabel2, #productLabel3, #productLabel4, #productLabel5, #productLabel6,
#productLabel7, #productLabel8, #productLabel9, #productLabel10, #productLabel11, #productLabel12,
#productLabel13, #productLabel14, #productLabel15, #productLabel16 {
    -fx-font-size: 16px;
}

.hyperlink:selected, .hyperlink {
    -fx-text-fill: hyperLinkColor;
}

#qtyBox .label, #qtyBox .menu-item {
    -fx-font-size: 16px;
}

#addToCartButton {
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-size: 18px;
}

#purchaseButton:hover, #purchaseButton:hover .text {
    -fx-font-size: 13px;
}

#imgview1, #imgview2, #imgview3, #imgview4,
#imgview5, #imgview6, #imgview7, #imgview8,
#imgview9, #imgview10, #imgview11, #imgview12,
#imgview13, #imgview14, #imgview15, #imgview16 {
    -fx-effect: blurColor;
}


.text-area .content {
    -fx-background-color: backgroundColor;
}

.scroll-pane > .viewport, .scroll-pane {
    -fx-background-color: backgroundColor;
}

#productScrollPane {
    -fx-border-color: buttonBorderColor;
    -fx-border-radius: 5px;
}
