* {
    -fx-font-family: 'Roboto';
}

#anchorPane {
    -fx-background-color: backgroundColor;
}

#headerSection {
    -fx-background-color: headerColor;
}

#AccessButton, #RecoveryPasswordButton, #ChangePasswordButton,
#RechargeButton, #AddButton{
    -fx-background-color: primaryButtonColor;
    -fx-background-radius: 5;
    -fx-border-color: buttonBorderColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#RegistrationButton, #UploadImageButton {
    -fx-background-color: secondaryButtonColor;
    -fx-background-radius: 5;
    -fx-border-color: buttonBorderColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#AccessVBOX, #RegistrationVBOX, #PasswordChangeVBOX,
#InfosRequestVBOX, #BalanceRechargeVBOX, #PasswordRecoveryVBOX,
#AddCouponVBOX, #AddProductVBOX {
    -fx-border-color: VBOXBorderColor;
    -fx-background-color: VBOXBackgroundColor;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#CategoriesButton, #SearchBar {
    -fx-background-color: headerElementsColor;
    -fx-background-size: 95%;
}

#SearchButton {
    -fx-background-color: searchButtonColor;
}

#SearchButton, #SearchBar, #CategoriesButton {
    -fx-background-radius: 5;
    -fx-border-color: headerBorderElementsColor;
    -fx-border-radius: 5;
    -fx-background-insets: 95%;
}

#returnToHomeLabel {
    -fx-text-fill: labelColor;
}

#AccountMenuButton .label {
    -fx-text-fill: labelColor;
}

#AccountMenuButton, #CartButton, #OrderButton {
    -fx-background-color: transparent;
    -fx-text-fill: labelColor;
}

#AccountMenuButton .menu-item > .label {
    -fx-text-fill: menuItemLabelColor;
}

#AccountMenuButton .arrow {
    -fx-background-color: labelColor;
}

#LoginButton, #RegisterButton {
    -fx-background-color: labelColor;
}

#LoginButton:hover {
    -fx-background-color: primaryButtonColor;
}

#RegisterButton:hover {
    -fx-background-color: secondaryButtonColor;
}

#lowerSection {
    -fx-background-color : lowerSectionColor;
}
